

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>
</script>

<script>
  window.loginBackground = "<%= asset_path('login_runner_1.jpeg') %>"
</script>

<div id="root"></div>
