#dashboard-container-div {
  display: flex;
  flex-direction: row;
  background-color: #f5f5fa;
  justify-content: center;
  position: relative;
}

#feed-container-div {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 15px;
}

#current-user-dashboard {
  display: flex;
  flex-direction: column;
  width: 280px;
  background-color: white;
  margin: 64px 32px 12px 32px;
}

#extra-dashboard-content {
  display: flex;
  flex-direction: column;
  width: 280px;
}

#feed-toggle {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 12px;
  cursor: pointer;
}

#feed-toggle:hover {
  background-color: white;

}
