.feed-item-container-div {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 50px 32px;
}

.feed-item-meta-div {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.feed-item-content-div {
  padding-left: 10px;
}

.feed-item-post-div {
  display: flex;
  flex-direction: column;
}

.feed-item-date-span {
  color: #99999e;
  font-size: 14px;
  margin-top: 2px;
}

.feed-item-title {
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
  text-decoration: none;
}
.feed-item-body {
  color: #5e5e5e;
  text-decoration: none;
}



.feed-item-post-div > *:hover {
  color: #007FB6;
  text-decoration: underline;
}

.feed-item-post-user {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.feed-item-post-user:hover {
  color: #007FB6;
  text-decoration: underline;
}
