#map-container {
  width: 100%;
  height: 500px;
}

#create-routes-header > * {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#create-routes-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
