#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
  border-bottom: 1px solid #ccccd1;
  z-index: 1;
  overflow: visible;
}

#logo-link {
  text-decoration: none;
}

#logo-link:hover {
  text-decoration: none;
}

#search-sprite {
  background-image: image_url('searchsprite.svg');
  height: 25px;
  width: 25px;
}

.header-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dashboard-header {
  padding: 6.5px;
  height: 100%;
}

#left-header-div {
  margin-left: 35px;
}

#left-header-div > * {
  padding: 15px;
}

#right-header-div {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

#header-plus-sign {
  color: #fc4c02;
  border: 2px solid #fc4c02;
  background-color: white;
  border-radius: 50%;
  padding: 0px 2px;
}

#header-plus-sign:hover {
  color: white;
  border: 2px solid #fc4c02;
  background-color: #fc4c02;
}

#header-plus-container:hover {
  #header-plus-sign {
    color: white;
    background-color: #fc4c02;
  }
}

#header-plus-div {
  padding: 19px 12px;
}

.dropbtn {
  border-radius: 50%;
  padding: 8px 9px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 5;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  height: 100%;
}

.dropdown:hover {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  box-sizing: border-box;
  border-bottom: 1px white solid;
  z-index: 5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border: 1px solid gray;
  right: -1px;
  margin-top: -1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  border-bottom: 1px solid white;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}

.dropdown-icons:hover {
  border-bottom: 1px solid white;
}

.dropbtn {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

#dashboard-dropdown-div {
  height: 55px;
}

#dashboard-dropdown-btn {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

#dashboard-dropdown-btn > h3 {
  color: black;
}

#dashboard-dropdown-content {
  left: -1px;
}

#dashboard-dropdown-container {
  padding: 0px 15px;
  border-bottom: 2px solid red;
  box-sizing: border-box;
  height: 55px;
}

#dashboard-dropdown-container:hover {
  border-bottom: 3px solid white;
  margin-bottom: -1;
  height: 56px;
}

.dropdown-header-div:hover {
  border-bottom: white 1px solid;
}

#search-results {
  position: absolute;
}

#search-results li {
  background-color: white;
  border: 1px solid #bcbcbc;
  border-top: 0;
  z-index: 9999 !important;
  display: block;
  padding: 5px;
  width: 150px;
  font-size: 12px;
  cursor: pointer;
}
#search-results li:first-child {
  border-top: 1px solid #bcbcbc;
}
#search-results li:hover {
  background-color: #bcbcbc;
}

#search-wrapper {
  display: flex;
  flex-direction: row;
}

#search-wrapper input {
  border: none;
}

#search-wrapper * {
  font-size: 14px;
}

#search-wrapper > * {
  border: 1px solid #bcbcbc;
  padding: 3px;
}

#search-wrapper > *:first-child {
  border-right: 0;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
}

#search-results a {
  text-decoration: none;
  color: black;
  width: 300px;
}
