// Place all the styles related to the workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#workoutform-container {
  display: flex;
  flex-direction: row;
  margin-top: 65px;
  width: 100vw;
}

#workoutform-sidebar {
  padding: 90px;
}


#CreateWorkoutFormDiv {
  display: flex;
  flex-direction: column;
}

#manual-entry-header {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.workout-form-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.page-divider {
  border-bottom: 1px solid gray;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  height: 1px;
}

#workout-form-first-div > * > * {
  text-align: center;
}

#workout-form-input-body {
  width: 75%;
  height: 100px;
  padding: 10px;
  border: 1px solid gray;
}
